@charset "UTF-8";

h1 {
	color: blue;
}

#menu {
	float: Left;
	width: 25%;
}

#content {
	float: right;
	width: 75%;
}

#content::after {
	content: "";
	display: block;
	clear: both;
}